#refresh {
    background-image: url("./icon.png");
}

#setting {
    background-image: url("./iconSetting.png");
}

button {
    border: 0px;
    font-weight: 300;
    background-size: auto 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.3em;
    box-sizing: border-box;
    /* color: white; */
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 15px;
    background-color: #f0f0f022;
}

select,
input {
    border: 1px solid sandybrown;
    font-weight: 300;
    background-size: auto 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    width: 3em;
    height: 1.5em;
    border-radius: 0.3em;
    box-sizing: border-box;
    /* color: white; */
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 15px;
    background-color: #f0f0f022;
    /* background-color:darkslategray;
    color: white; */
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    /* box-sizing: border-box; */
    /* text-align: center;
    display: inline-block; */
}

.upperbar>* {
    margin-left: 0.5em;
}

#printMode {
    width: 5em;
}

#innerSetting > *{
    display: none;
}

#innerSetting select:disabled, #innerSetting input:disabled {
    cursor: not-allowed;
}

/* #savedepth {
    width: 3em;
    height: 1.5em;
    border: 1px solid sandybrown;
    margin-left: 0.2em;
    display: inline-block;
    border-radius: 0.3em;
    color: #4CB0F9;
}

#listcolumn {
    border-style: dashed;
    border-color: purple;
} */

/* #listcolumn:focus{
    border: 2px dashed purple
} */
/* select:hover,
button:hover,
input:hover {
    border-width: 2px;
} */

#updateTime {
    margin-left: 0.5em;
    /* color: darkgray; */
}

.ordinaryText_dark {
    color: darkgray;
}

.upperbar {
    float: left;
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 5px;
}

.upperbardiv {
    display: block;
}

/* 按钮夜间样式 */
.button_dark {
    background-color: darkslategray;
    color: white;
}

.linksList {
    margin-top: 0px;
}

.noListStyle {
    list-style-type: none;
    padding-inline-start: 0%;
}

/* 无序列表单项 */
.linksListItem {
    padding: 4px 0px;
}

/* 列表单项（深色）*/
[data-darkmode] .linksListItem {
    padding: 4px 0px;
    color: #C9D1D9;
}

/* 挂件内自定义emoji样式 */
.iconpic {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}

/* 子文档区域 */
#refContainer {
    cursor: default;
}

/* 链接文字样式 */
.childDocLinks,
.refLinks {
    /* color: black; */
    padding: 0 2px;
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 0, 0, .1);
}

/* 暗黑模式下，链接文字样式 */
[data-darkmode] .childDocLinks{
    color: #C9D1D9;
}
/* 挂件思维导图样式 */
/* 思维导图<a>链接样式 */
.markmap_a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 0, 0, .1);
    /* white-space: nowrap; */
}

/* 思维导图普通文字深色样式 */
[data-darkmode] .markmap {
    color: #C9D1D9 !important;
}
/* 思维导图链接深色样式 */
[data-darkmode] .markmap_a {
    color: #C9D1D9 !important;
    text-decoration: none !important;
    /* white-space: nowrap; */
}

/* 思维导图悬停样式*/
[data-darkmode] .markmap_a:hover{
    color: #1186d9 !important;
    border-bottom: 1px dashed #4CB0F9 !important;
}

/* 链接文字悬停样式 */
.linkTextHoverHightLight:hover{
    color: #1186d9;
    border-bottom: 1px dashed #4CB0F9;
}

/* 扩大点击范围为整行时，悬停样式 */
.itemHoverHighLight:hover {
    background-color: #1186d91f;
    color: #1186d9;
}

/* 错误提示文字样式 */
.errorinfo {
    color: red;
    text-align: center;
}

/* 链接区，所有挂件内模式共用 */
#linksContainer {
    column-fill: balance;
    clear: both;
}

/* 子文档方块区 */
.mode11-note-box {
    max-height: 250px;
    overflow: auto;
    border-radius: 10px;
    padding: 10px 15px 15px 8px;
    margin: 5px 5px 5px 0;
    flex-direction: column;
    flex: 1 0 250px;
    display: flex;
    background-color: #ebebeb86;
}
/* 子文档方块外围div */
.mode11-box {
    overflow: auto;
    flex-wrap: wrap;
    display: flex;
}

/* 子文档方块内的文档标题 */
.mode11-title {
    margin: 10px 0 10px 0;
}

/* 二级文档标题所在的段落 */
.mode11-child-p-container > p {
    margin: 0 0 0 7px;
    width: 95%;
    white-space: normal;
    font-size: 0.9;
}

/* 子文档内容节选 */
.mode11-doc-content {
    margin: 0 0 0 7px;
    width: 95%;
    white-space: normal;
    overflow: hidden;
}

.mode11-doc-content p {
    display: inline;
}

/* mode11 图片显示*/
.mode11-doc-content .img img {
    max-width: 100%;
    display: inline-block;
}

/* 子文档预览内容 */
.mode11-doc-content [id][updated] {
    font-size: 16px;
    margin: 5px 0 0 0;
}

.mode11-note-box:hover {
    background-color: #bfbfbf86;
}

/* mode11 深色模式方块*/
[data-darkmode] .mode11-note-box {
    background-color: #efefef40;
    color: #C9D1D9;
}
/* mode11 深色模式方块悬停*/
[data-darkmode] .mode11-note-box:hover {
    background-color: #efefef30;
}

/* 属于此类的元素，将被点击处理 */
.handle-ref-click {
    cursor: pointer;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.app {
    width: 100%;
}